name: CI

on: push

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  prepare:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6

      - name: Lint GitHub workflow
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -shellcheck=

      - uses: actions/setup-node@v6.0.0
        with:
          cache: npm

      - run: npm install
      - run: npm run lint

  test_packages:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        version: [18, 20, 22]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.version }}

      - name: Run tests
        run: |
          npm install
          npm run build
          npm run test:packages

  test_apps:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        version: [18, 20, 22]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.version }}

      - name: Run tests
        run: |
          npm install
          npm run build
          npm run test:apps
